
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

  

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <ng-container matColumnDef="producto">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Producto </th>
    <td mat-cell *matCellDef="let element"> {{element.producto.descripcion}} </td>
  </ng-container>

  <ng-container matColumnDef="marca">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Marca </th>
    <td mat-cell *matCellDef="let element"> {{element.producto.marca.descripcion}} </td>
  </ng-container>

  
  <ng-container matColumnDef="existencia">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Existencia </th>
    <td mat-cell *matCellDef="let element"> {{element.existencia}} </td>
  </ng-container>

  


  <ng-container matColumnDef="ingreso">
    <th mat-header-cell *matHeaderCellDef> Ingreso </th>
    <td mat-cell *matCellDef="let element">
      <mat-icon (click)="ingreso(element)">add_circle</mat-icon>
    </td>
  </ng-container>
  <ng-container matColumnDef="egreso">
    <th mat-header-cell *matHeaderCellDef> Egreso </th>
    <td mat-cell *matCellDef="let element">
      <mat-icon (click)="egreso(element)">remove_circle</mat-icon>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>


